/* Ie-ie-ieeeeee!!! */
blockquote#header_buble div.division {height:0px;line-height:0px;font-size:0;}
blockquote#header_buble div.division2 {height:8px;line-height:8px;font-size:0;}
h2.superheader a.main img {padding-top:8px;}

h2.p {margin-left:-2em;padding-left:2em;}
h2.p span {position:relative;display:block;margin-left:-1.7em;width:1.7em;text-align:left;float:left;}
h3 {padding-top:1em;}